.galleryGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  justify-items: center;
  background-color: rgb(51, 50, 49);
  height: 373vh;
  width: 100vw;
  color: white;
}

.hamsterCards {
  height: 20rem;
  width: 17rem;
  text-align: center;
}

.hamsterCards img {
  border-radius: 5%;
  width: 200px;
  height: 250px;
  box-shadow: center;
}
