.grid-container {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	text-align: center;
justify-items: center;
}

.hamster-cards {
	height: 10rem;
	width: 10rem;
}

.hamster-cards img {
	border: 1px solid #ddd;	
	border-radius: 50%;	
	width: 100px;				
	height: 100px;
}